<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<a href="/">首頁</a>
	<a href="/home">Home</a>
	<a href="/about">About</a>
	<h1>home , <%=title%>!</h1>
</body>
</html>