<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="index.css">
</head>
<body>
	<nav id="nav-<%=theme%>">
		<a href="#">Home</a>
		<a href="#">About</a>
		<a href="#">Contact</a>
		<a href="#">Shop</a>
	</nav>
	<br>
	<div>
		<a href="/">root</a>
		<a href="/?theme=1">theme 1</a>
		<a href="/?theme=2">theme 2</a>
		<a href="/?theme=3">theme 3</a>
	</div>
</body>
</html>