<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1><%=(isLogin?"已登入":"未登入")%></h1>
	<% if (!isLogin) { %>
	<a href="login.html">請先登入</a>
	<% } else { %>
	<a href="logout">登出</a>
	<% } %>
</body>
</html>