<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="/edit" method="post">
		<input type="hidden" name="id" value="<%=data._id%>">
		<h1>編輯資料</h1>
		<div>
			<span>姓名：</span>
			<input type="text" name="username" value="<%=data.username%>">
		</div>
		<div>
			<span>信箱：</span>
			<input type="text" name="email" value="<%=data.email%>">
		</div>
		<div>
			<span>年齡：</span>
			<input type="number" name="age" min="18" max="99" value="<%=data.age%>">
		</div>
		<input type="submit" value="送出">
	</form>
</body>
</html>