<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="login">
            <h1 class="login-heading">
                <strong>Error.</strong>
                <span><%=message%></span>
            </h1>
            <button type="button" class="btn" onclick="history.back();">Back</button>
        </div>
    </div>
</body>
</html>